.members-wraper {
  background-color: #f5f4fa;
}

.team-member {
  @include font(16px, 500);
  line-height: 1.18;
  text-align: center;
  color: $title-text-colour;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-member-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: $primary-text-colour;
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: Roboto;
}

.social-media a:hover,
.social-media a:focus {
  background-color: $accent-colour;
}

.social-media a {
  @extend %align-style;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $background-colour;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media + .social-media {
  margin-left: 10px;
}
.media-icon {
  fill: $icons-colour;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover .media-icon {
  fill: $background-colour;
}

.team-item {
  padding-bottom: 24px;
  background-color: $background-colour;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .team-item {
    margin-bottom: 30px;
  }
  .team {
    display: block;
    padding-inline-start: 0px;
    margin: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team-item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item + .team-item {
    margin-left: 30px;
  }
  .team {
    display: flex;
    align-items: center;
  }
}
