.button-list {
  display: flex;
  // padding-top: 93px;
  // padding-bottom: 50px;
  // justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.button-item + .button-item {
  margin-left: 8px;
}
.button-item:not(:nth-child(n + 4)) {
  margin-bottom: 15px;
}
.button {
  display: block;
  font-family: inherit;
  @include font(16px, 500);
  line-height: 1.62;
  text-align: center;
  color: $title-text-colour;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-colour;
    color: $background-colour;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
