.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item a {
  @extend %align-style;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: $icons-colour;
  width: 80px;
  height: 42px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-item a:hover {
  color: $accent-colour;
  border: 1px solid $accent-colour;
}
.clients-item a:hover .clients-icon {
  fill: $accent-colour;
}
