.modal-button {
  @extend %styles-for-modal-btn;
  padding: 10px 32px;
  min-width: 200px;
  color: $background-colour;

  &:hover {
    background-color: #188ce8;
  }
}

.apply-button {
  @extend %styles-for-modal-btn;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}
