  
    $accent-colour: #2196F3;
    $title-text-colour: #212121;
    $background-colour: #ffffff;
    $primary-text-colour: #757575;
    $icons-colour: #AFB1B8;
    $transparent-background: rgba(47, 48, 58, 0.8);
    $logo-color: #000000;
    $background-button-color: #757575;
